<ul class="post-list">
{{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a target="_blank">{{title}}</a>
        <div>
            <p>{{content}}</p>
        </div>
      </div>
      <div class="meta">
        Written by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ul>